@charset "utf-8";
/* CSS Document */

<style type="text/css">

 div {
	-moz-transform: rotate(30deg);
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
		
	width:100px;
	height:100px;
	background-color:#FF0;
	font-size:40px;
	
	text-shadow: 
	1px 1px 0px rgba(230,230,230,1),
	2px 2px 0px rgba(200,200,200,1), 
	3px 3px 0px rgba(180,180,180,1), 
	4px 4px 0px rgba(160,160,160,1),
	5px 5px 0px rgba(0,0,0,1), 
	8px 8px 20px rgba(0,0,0,0.5);
	border-radius: 10px;
	box-shadow: 5px 10px 7px rgba(0,0,0,0.5);
    -webkit-box-shadow: 5px 10px 7px rgba(0,0,0,0.5);
    -moz-box-shadow: 5px 10px 7px rgba(0,0,0,0.5);
	}