@charset "utf-8";
/* CSS Document */
<style type="text/css">
nav {
display:inline;
width:25%;
}

nav a:link, nav a:visited{
display: inline;
border-bottom: 4px solid #fff;
padding: 10px;
text-decoration: none;
font-weight: bold;
margin: 5px;
}

nav a:hover {
color: white;
background-color: #F47D31;
}
 body {
	background-color: #FFC;
	margin: 50px  auto;
	
    max-width:1069px;
	height: 1570px;
	border:solid;
	border-color:#63F
 }
 
 
th {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 18px;
	font-style: normal;
	color: #C69;
	background-color: #FF9;
	max-width: 2000px;
	height: 100px;
}


</style>

